/**
 * Perform a [<%= name %>](<%= docUrl %>) request
 *
 * @param {Object} params - An object with parameters used to carry out this action<%
_.each(params, function(param, paramName) { %>
 * @param {<%= paramType(param.type) %>} <%= paramWithDefault('params.' + paramName, param.default) %><%
 if (param.description) {
  %> - <%= param.description %><%
  }
%><% }) %>
 */
<%= name %> = new ClientAction(<%= stringify(clientActionSpec, true) %>);
