module.exports = function addWatcherApi(Client, config, components) {
  var ca = components.clientAction.factory;

  Client.prototype.watcher = components.clientAction.namespaceFactory();
  var watcher = Client.prototype.watcher.prototype;

<%
  _.each(methods, function (method) {
    print(indent(apiMethodTmpl(method), 2) + '\n');
  });
%>
};
