[[api-reference-watcher]]
== Elasticsearch.js Watcher API

[[js-api-method-index-watcher]]
<%
_.each(methods, function (method) {
  print('* <<' + method.id + ',' + method.name + '>>\n');
})
%>
<%
_.each(methods, function (method) {
  print('\n' + docMethodTmpl(method) + '\n');
});
%>
