[[<%= id %>]]
=== `<%= name %>`

[source,js]
--------
client.<%= name %>([params, [callback]])
--------

<%= description(name) %>

The default method is `<%= defaultHttpMethod || 'GET' %>` and the usual <<api-conventions,params and return values>> apply. See <%= docUrl %>[the elasticsearch docs] for more about this method.

<%= examples(name) %>

<%
if (params) {
  print(docParamsTmpl({ params: allParams }));
}
%>

link:#[back to top]
