==== Params

[horizontal]
<%

_.each(params, function (param, paramName) {
  print('`' + param.nameWithDefault + '`::\n');
  if (param.description) {
    print('`' + param.type + '` -- ' + joinParagraphs(param.description) + '\n');
  }
  if (param.options) {
    print('Options:::\n');
    _.each(param.options, function (opt) {
      print('* `"' + opt + '"`\n');
    });
  }
});

%>
